/* header */
.form-search-mobile .input-search-mobile,.form-search-mobile button{
    outline: none;
}
.box-menu{
    width: 400px;
}
.v-badge button{
    color: #f6843b !important;
  }
/* footer */
.footer-term {
    margin: 36px 0 25px 0;
    padding: 0;
}

.footer-term .subtitle-1 {
    font-weight: 600;
    margin-bottom: 8px;
}

.footer-term a {
    padding: 4px 0;
    font-size: 16px;
}

.footer-term i {
    font-size: 24px !important;
    margin-right: 10px;
}

.flex-auto {
    flex: auto;
}

.copyright-footer {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(90deg, #e62e2d, #eb8125, #e62e2d, #eb8125);
    padding: 8px 14px;
    color: white;
    opacity: 0.8;
}

.p-0 {
    padding: 0 !important;
}

.w-feater div {
    margin-bottom: 20px;
}

.w-feater p {
    width: 80%;
    margin: auto;
}


/* mobile */

body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: black;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.search-box {
    width: 60%;
}
@media (min-width: 960px){
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px){
    .m-container {
        width: 1280px !important;
    }
}
@media screen and (max-width: 768px) {
    .search-box {
        width: 100% !important;
        padding: 0 20px !important;
    }
    .box-info{
        float: left;
    }
}
@media (max-width:425px) {
    .box-menu{
        display: none !important;
    }
    .icon-mobile-nav {
        padding: 0 16px;
    }
    .v-application .ml-10,
    .v-badge {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .icon-mobile-nav {
        display: block !important;
    }
    .search-box {
        width: 100% !important;
    }
    .v-badge {
        margin-top: 0px !important;
        flex: auto;
    }
    .v-badge button{
        float: right;
    }
    .d-logo,
    .icon-mobile-nav {
        flex: auto;
    }
    .v-btn__content span,
    .d-flex.menu-header,
    .d-flex.box-search,
    .content-center-header {
        display: none !important;
    }
    .v-btn__content i {
        font-size: 30px !important;
    }
    .v-input__control {
        border-right: 0 !important;
    }
    .v-btn:not(.v-btn--round).v-size--large {
        border: 1px solid #e62e04;
        height: 50px;
        background-color: #ffffff !important;
        border-color: #e62e04;
        color: red;
        font-size: 20px;
        border-left: 0;
        box-shadow: none;
        padding: 0;
        min-width: 50px !important;
    }
    .v-application .mr-10 {
        margin-right: 0px!important;
    }
    header .main-desktop-layout .d-logo {
        align-items: end !important;
    }
    .w-feater {
        width: 50%;
    }
}

.w-100 {
    width: 100%;
}

.menu-header {
    margin: 8px 0 0 0;
}

.menu-header .item-menu {
    list-style: none;
    text-align: center;
}

.p-0 {
    padding: 0 !important;
}

.menu-header .item-menu a {
    color: #e62e2d;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

.btn-search {
    height: 50px !important;
    background-color: #e62e04 !important;
    border-color: #e62e04 !important;
}

.fa-shopping-cart {
    font-size: 22px;
    color: orange;
}

.v-input__slot {
    background-color: white !important;
}

.v-text-field__slot label {
    left: 0px;
    right: auto;
    position: absolute;
}

.box-menu span {
    font-size: 30px;
    cursor: pointer;
}

.content-center-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    width: 100%;
}

.box-2 {
    background-color: white;
    padding-bottom: 10px;
}

.main-desktop-layout .v-toolbar__content .box-2 .input-search {
    width: auto !important;
}

.icon-mobile-nav {
    display: none;
    font-size: 28px;
    color: #e62e2d;
}

.form-search-mobile input {
    padding: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.form-search-mobile {
    display: inline-block;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 5px;
}